* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

hr {
  color: rgb(202, 151, 20);
}

header {
  padding: 16px 0px;
  font-weight: 600px;
}

header img {
  height: 60px;
}

header nav li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}

header nav li a {
  text-decoration: none;
  color: rgb(4, 114, 61);
  cursor: pointer;
}

header nav li a:hover {
  color: rgb(167, 175, 152);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

section .container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section img {
  height: 900px;
  margin-bottom: 30px;
  border-radius: 30px;
}

#section2 {
  background-color: rgb(244, 239, 226);
}

h2 {
  color: rgb(4, 114, 61);
  margin-top: 40px;
  margin-bottom: 30px;
}

h3 {
  color: rgb(4, 114, 61);
  padding: 30px;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about img {
  height: 500px;
}

.about p {
  margin-left: 30px;
  text-align: justify;
}

.container .contact {
  display: flex;
  justify-content: space-between;
}
form {
  margin-right: 50px;
}

form input,
form textarea,
form button {
  display: block;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 8px;
}

form textarea {
  resize: none;
  height: 160px;
}

form button {
  background-color: rgb(4, 114, 61);
  color: #fff;
  border: none;
  cursor: pointer;
  width: 60px;
}

form button:hover {
  background-color: rgb(167, 175, 152);
}

.social-links li {
  display: inline;
}

.social-links img {
  height: 38px;
  margin-right: 25px;
  margin-top: 25px;
}

footer {
  padding: 25px 0px;
  font-weight: 700px;
}

footer .container p {
  text-align: center;
  justify-content: center;
  color: rgb(4, 114, 61);
}

footer img {
  height: 25px;
}

.inicio {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: rgb(4, 114, 61);
  text-align: end;
}

.inicio:hover {
  color: rgb(167, 175, 152);
}
